{% extends 'default.html.twig' %}

{% form_theme form _self %}

{% macro niceForm(form) %}
    {{  form_row(form.altText) }}
    {{  form_row(form.photoFile) }}
{% endmacro niceForm %}

{% import _self as formMacros %}


{% block title %}Hello TweetController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function main() {
            document
                .querySelectorAll('.add_item_link')
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                });
        }

        window.addEventListener('load', main);

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };
    </script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form.text) }}
    {# the data-index attribute is required for the JavaScript code below #}
    <div class="attachments"
         data-index="{{ form.attachments|length > 0 ? form.attachments|last.vars.name + 1 : 0 }}"
         data-prototype="{{ formMacros.niceForm(form.attachments.vars.prototype)|e('html_attr') }}"
    ></div>
    <div class="my-4">
        <button type="button" class="add_item_link" data-collection-holder-class="attachments">Add photo</button>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Crear">
    </div>
    {{ form_end(form) }}
{% endblock %}

